<nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
    <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
        <a class="navbar-brand brand-logo" href="{site_url('administrator/dashboard')}">
            <div class="row justify-content-center">
                <div class="col-md-4 brand-img">
                    <img src="{$BASEURL}resource/assets-frontend/dist/logo/{$site.site_logo|default:''}" alt="logo" />
                </div>
                <div class="col-md-6 brand-name text-start">
                    <h4>{$site.site_title|default:''}</h4>
                </div>
            </div>
        </a>
        <a class="navbar-brand brand-logo-mini ms-2" href="{site_url('administrator/dashboard')}">
            <img src="{$BASEURL}resource/assets-frontend/dist/logo/{$site.site_icon|default:''}" alt="logo" />
        </a>
    </div>
    <div class="navbar-menu-wrapper d-flex align-items-stretch">
      <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
        <span class="mdi mdi-menu"></span>
      </button>
      <div class="search-field d-md-block w-100">
        {if isset($keyword)}
        <form class="d-flex align-items-center h-100" action="{site_url($current_page.nav_url)}" method="post">
          <div class="input-group">
            <div class="input-group-prepend bg-transparent">
              <i class="input-group-text border-0 mdi mdi-magnify"></i>
            </div>
            <input type="text" class="form-control bg-transparent border-0" placeholder="Search {$current_page.nav_title}" name="keyword" value="{$keyword|default:''}">
          </div>
        </form>
        {/if}
      </div>
      <ul class="navbar-nav navbar-nav-right">
        <li class="nav-item d-none d-lg-block full-screen-link">
          <a class="nav-link">
            <i class="mdi mdi-fullscreen" id="fullscreen-button"></i>
          </a>
        </li>
        <li class="nav-item nav-profile dropdown">
          <a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-bs-toggle="dropdown" aria-expanded="false">
            <div class="nav-profile-img">
              <img src="{$BASEURL}resource/assets/default/images/uploads/users/{$user_data.user_photo|default:'default.jpg'}" alt="image">
            </div>
            <div class="nav-profile-text">
              <p class="mb-1 text-black">{$user_data.user_alias|default:'Admin'}</p>
            </div>
          </a>
          <div class="dropdown-menu navbar-dropdown" aria-labelledby="profileDropdown">
            <a class="dropdown-item" href="{site_url('administrator/profile')}">
              <i class="mdi mdi-account me-2"></i> User Profile </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{site_url('administrator/logout')}">
              <i class="mdi mdi-logout me-2"></i> Signout </a>
          </div>
        </li>
      </ul>
      <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
        <span class="mdi mdi-menu"></span>
      </button>
    </div>
  </nav>