<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="height=device-height, width=device-width, initial-scale=1.0, minimum-scale=1.0, target-densitydpi=device-dpi">
        <link rel="stylesheet" href="{$BASEURL}/resource/plugins/bootstrap-5.2.1-dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="{$BASEURL}/resource/assets-frontend/css/kenes_style.css">
       
    </head>
    <body>

        <div class="title"> {$detail.cat_name}</div>
        <div class="cat_detail_sub">
            <p>{$detail.cat_desc}</p>
        </div>
        
<!-- HIGHLIGHT KATEGORI -->
<div class="container-sm-2">
{if !empty($categories)}
<div class="box-container">
    {foreach from=$categories key=key item=cat}
    <a style="text-decoration: none;" href="{site_url(['products/list_product', $cat.cat_id])}"><div class="m-5 categories">
            {if !empty($cat.cat_img)}
                <div class="row">
                    <div class="cat_img">
                        <img src="{$BASEURL}resource/assets-frontend/dist/product/{$cat.cat_img}">
                    </div>
                    <div class="cat_detail">
                        <h4 class="text-uppercase">{$cat.cat_name}</h4>
                        <p>{$cat.cat_desc}</p>
                    </div>
                    <div class="cat_harga">
                        <h4 class="" align ="right">Mulai dari : <b>{number_format($cat.cat_harga,0,",",".")}</b></h4>
                    </div>
                </div>
            {else} 
                <div class="row">
                    <div class="cat_img">
                        <img src="{$BASEURL}resource/assets-frontend/dist/product/imagenotfound.png">
                    </div>
                    <div class="cat_detail">
                        <h4>{$cat.cat_name}</h4>
                        <p>{$cat.cat_desc}</p>
                    </div>
                </div>
            {/if}
        </div>
    </a>
    {/foreach}
</div>
{/if}
</div>  
</div> 

</body>
</html>