<!-- Menu Start -->
 <div class="container-fluid menu bg-white py-6 my-6">
    <div class="container">
        <div class="text-center wow bounceInUp" data-wow-delay="0.1s">
            <h1 class="display-5 mb-5">List Menu Resto</h1>
        </div>
        <div class="tab-class text-center">
            <ul class="nav nav-pills d-inline-flex justify-content-center mb-5 wow bounceInUp" data-wow-delay="0.1s">
                <li class="nav-item p-2">
                    <a class="d-flex py-2 mx-2 border border-primary rounded-pill active" data-bs-toggle="pill" href="#tab-6">
                        <span class="text-dark" style="width: 150px;">Asian</span>
                    </a>
                </li>
                <li class="nav-item p-2">
                    <a class="d-flex py-2 mx-2 border border-primary rounded-pill" data-bs-toggle="pill" href="#tab-7">
                        <span class="text-dark" style="width: 150px;">Paket Pelajar</span>
                    </a>
                </li>
                <li class="nav-item p-2">
                    <a class="d-flex py-2 mx-2 border border-primary rounded-pill" data-bs-toggle="pill" href="#tab-8">
                        <span class="text-dark" style="width: 150px;">Otentik Jawa</span>
                    </a>
                </li>
                <li class="nav-item p-2">
                    <a class="d-flex py-2 mx-2 border border-primary  rounded-pill" data-bs-toggle="pill" href="#tab-9">
                        <span class="text-dark" style="width: 150px;">Nusantara</span>
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div id="tab-6" class="tab-pane fade show p-0 active">
                    <div class="row g-4">
                        <div class="col-lg-6 wow bounceInUp" data-wow-delay="0.1s">
                            <div class="menu-item d-flex align-items-center">
                                <img class="flex-shrink-0 img-fluid rounded-circle" src="{$BASEURL}resource/assets-frontend/dist/outlet/capcay.jpg" alt="">
                                <div class="w-100 d-flex flex-column text-start ps-4">
                                    <div class="d-flex justify-content-between border-bottom border-primary pb-2 mb-2">
                                        <h4>MEIMEI A</h4>
                                        <h4 class="text-primary">Rp 27.000,-</h4>
                                    </div>
                                    <p class="mb-">Nasi Putih, Cantonese Soup, Ayam Goreng Mentega, Ca Pok Coy Garlic, Kulit Pangsit Goreng, Buah Slice, Teh Panas/Es, Mineral Water</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 wow bounceInUp" data-wow-delay="0.2s">
                            <div class="menu-item d-flex align-items-center">
                                <img class="flex-shrink-0 img-fluid rounded-circle" src="{$BASEURL}resource/assets-frontend/dist/outlet/capcay.jpg " alt="">
                                <div class="w-100 d-flex flex-column text-start ps-4">
                                    <div class="d-flex justify-content-between border-bottom border-primary pb-2 mb-2">
                                        <h4>MEIMEI B</h4>
                                        <h4 class="text-primary">Rp 27.000,-</h4>
                                    </div>
                                    <p class="mb-5">Nasi Putih,
                                        Soup Tauki,
                                        Finger Fish Sauce Mantai,
                                        Cap Cay,
                                        Kulit Pangsit Goreng,
                                        Buah Slice,
                                        Teh Panas / Es,
                                        Mineral Water</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 wow bounceInUp" data-wow-delay="0.3s">
                            <div class="menu-item d-flex align-items-center">
                                <img class="flex-shrink-0 img-fluid rounded-circle" src="{$BASEURL}resource/assets-frontend/dist/outlet/capcay.jpg" alt="">
                                <div class="w-100 d-flex flex-column text-start ps-4">
                                    <div class="d-flex justify-content-between border-bottom border-primary pb-2 mb-2">
                                        <h4>SINYO A</h4>
                                        <h4 class="text-primary">Rp 47.000,-</h4>
                                    </div>
                                    <p class="mb-5">Nasi Putih,
                                        Bakmoy,
                                        Ayam Crispy Pedas Gurih,
                                        Ikan Fillet Sauce Teriyaki,
                                        Lo Han Cai,
                                        Jamur Crispy,
                                        Kulit Pangsit Goreng,
                                        Buah Slice,
                                        Sambal Matang,
                                        Es Cau Coco,
                                        Teh Panas / Es,
                                        Infused Water</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 wow bounceInUp" data-wow-delay="0.4s">
                            <div class="menu-item d-flex align-items-center">
                                <img class="flex-shrink-0 img-fluid rounded-circle" src="{$BASEURL}resource/assets-frontend/dist/outlet/capcay.jpg" alt="">
                                <div class="w-100 d-flex flex-column text-start ps-4">
                                    <div class="d-flex justify-content-between border-bottom border-primary pb-2 mb-2">
                                        <h4>SINYO B</h4>
                                        <h4 class="text-primary">Rp 47.000,-</h4>
                                    </div>
                                    <p class="mb-5">Nasi Putih,
                                        Chicken Corn Soup,
                                        Chicken Blackpepper,
                                        Ikan Katsu,
                                        Buncis Szechuan,
                                        Tahu Cabe Garam,
                                        Kulit Pangsit Goreng,
                                        Buah Slice,
                                        Sambal Matang,
                                        Es Cau Coco,
                                        Teh Panas / Es,
                                        Infused Water</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 wow bounceInUp" data-wow-delay="0.5s">
                            <div class="menu-item d-flex align-items-center">
                                <img class="flex-shrink-0 img-fluid rounded-circle" src="{$BASEURL}resource/assets-frontend/dist/outlet/capcay.jpg" alt="">
                                <div class="w-100 d-flex flex-column text-start ps-4">
                                    <div class="d-flex justify-content-between border-bottom border-primary pb-2 mb-2">
                                        <h4>CHANGI A</h4>
                                        <h4 class="text-primary">Rp 37.000,-</h4>
                                    </div>
                                    <p class="mb-5">Nasi Putih,
                                        Daikon Soup,
                                        Chicken Katsu Sauce Bangkok,
                                        Fuyunghai,
                                        Buncis XO,
                                        Kulit Pangsit Goreng,
                                        Buah Slice,
                                        Sambal Matang,
                                        Teh Panas / Es,
                                        Mineral Water / Infused Wate</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 wow bounceInUp" data-wow-delay="0.6s">
                            <div class="menu-item d-flex align-items-center">
                                <img class="flex-shrink-0 img-fluid rounded-circle" src="{$BASEURL}resource/assets-frontend/dist/outlet/capcay.jpg" alt="">
                                <div class="w-100 d-flex flex-column text-start ps-4">
                                    <div class="d-flex justify-content-between border-bottom border-primary pb-2 mb-2">
                                        <h4>CHANGI B</h4>
                                        <h4 class="text-primary">Rp 37.000,-</h4>
                                    </div>
                                    <p class="mb-5">Nasi Putih,
                                        Fish Soup,
                                        Chicken Crispy,
                                        Telur Sauce Singapore,
                                        Caully Flower Oyster,
                                        Kulit Pangsit Goreng,
                                        Buah Slice,
                                        Sambal Matang,
                                        Teh Panas / Es,
                                        Mineral Water / Infused Water </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 wow bounceInUp" data-wow-delay="0.7s">
                            <div class="menu-item d-flex align-items-center">
                                <img class="flex-shrink-0 img-fluid rounded-circle" src="{$BASEURL}resource/assets-frontend/dist/outlet/capcay.jpg" alt="">
                                <div class="w-100 d-flex flex-column text-start ps-4">
                                    <div class="d-flex justify-content-between border-bottom border-primary pb-2 mb-2">
                                        <h4>LIE WIE A</h4>
                                        <h4 class="text-primary">Rp 62.000,-</h4>
                                    </div>
                                    <p class="mb-5">Nasi Putih,
                                        Tom Yam Seafood,
                                        Beef Blackpepper,
                                        Ayam Sauce Lemon,
                                        Sapo Tofu Seafood,
                                        Kwetiaw Goreng,
                                        Cikuwa Asam Pedas,
                                        Kulit Pangsit Goreng,
                                        Puding,
                                        Buah Sambal Matang,
                                        Es Cau Coco,
                                        Teh Panas / Es,
                                        Infused Water</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 wow bounceInUp" data-wow-delay="0.8s">
                            <div class="menu-item d-flex align-items-center">
                                <img class="flex-shrink-0 img-fluid rounded-circle" src="{$BASEURL}resource/assets-frontend/dist/outlet/capcay.jpg" alt="">
                                <div class="w-100 d-flex flex-column text-start ps-4">
                                    <div class="d-flex justify-content-between border-bottom border-primary pb-2 mb-2">
                                        <h4>LIE WIE B</h4>
                                        <h4 class="text-primary">Rp 62.000,-</h4>
                                    </div>
                                    <p class="mb-5">Nasi Putih,
                                        Soup Wonton,
                                        Diced Beef,
                                        Ayam Koloke,
                                        Ca Brokoli Garlic,
                                        Mie Goreng Singapore,
                                        Jamur Sauce Blackpepper,
                                        Kulit Pangsit Goreng,
                                        Puding,
                                        Buah Sambal Matang,
                                        Es Cau Coco,
                                        Teh Panas / Es,
                                        Infused Wate</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="tab-7" class="tab-pane fade show p-0">
                    <div class="row g-4">
                        <div class="col-lg-6">
                            <div class="menu-item d-flex align-items-center">
                                <img class="flex-shrink-0 img-fluid rounded-circle" src="{$BASEURL}resource/assets-frontend/dist/outlet/capcay.jpg" alt="">
                                <div class="w-100 d-flex flex-column text-start ps-4">
                                    <div class="d-flex justify-content-between border-bottom border-primary pb-2 mb-2">
                                        <h4>Menu A</h4>
                                        <h4 class="text-primary">Rp 24.000,-</h4>
                                    </div>
                                    <p class="mb-5">Nasi Putih,
                                        Soto Ayam Sinduadi,
                                        Mendoan,
                                        Tahu Goreng,
                                        Sambal + Kecap,
                                        Buah Slice,
                                        Teh Panas/Es,
                                        Mineral Water
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="menu-item d-flex align-items-center">
                                <img class="flex-shrink-0 img-fluid rounded-circle" src="{$BASEURL}resource/assets-frontend/dist/outlet/capcay.jpg" alt="">
                                <div class="w-100 d-flex flex-column text-start ps-4">
                                    <div class="d-flex justify-content-between border-bottom border-primary pb-2 mb-2">
                                        <h4>Menu B</h4>
                                        <h4 class="text-primary">Rp 24.000,-</h4>
                                    </div>
                                    <p class="mb-5">Nasi Putih,
                                        Sup Sayur,
                                        Balado Telur,
                                        Mie Goreng,
                                        Krupuk,
                                        Buah Slice,
                                        Teh Panas/Es,
                                        Mineral Water
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="menu-item d-flex align-items-center">
                                <img class="flex-shrink-0 img-fluid rounded-circle" src="{$BASEURL}resource/assets-frontend/dist/outlet/capcay.jpg" alt="">
                                <div class="w-100 d-flex flex-column text-start ps-4">
                                    <div class="d-flex justify-content-between border-bottom border-primary pb-2 mb-2">
                                        <h4>Menu C</h4>
                                        <h4 class="text-primary">Rp 24.000,-</h4>
                                    </div>
                                    <p class="mb-5">Nasi Putih,
                                        Sup Oyong,
                                        Bistik Galantine,
                                        Tumis Tempe,
                                        Kacang Panjang,
                                        Krupuk,
                                        Buah Slice,
                                        Teh Panas/Es,
                                        Mineral Water
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="menu-item d-flex align-items-center">
                                <img class="flex-shrink-0 img-fluid rounded-circle" src="{$BASEURL}resource/assets-frontend/dist/outlet/capcay.jpg" alt="">
                                <div class="w-100 d-flex flex-column text-start ps-4">
                                    <div class="d-flex justify-content-between border-bottom border-primary pb-2 mb-2">
                                        <h4>Menu D</h4>
                                        <h4 class="text-primary">Rp 24.000,-</h4>
                                    </div>
                                    <p class="mb-5">Nasi Putih,
                                        Sup Jamur Kuping,
                                        Sosis Sauce Mentega/ Sate Dumpling,
                                        Bihun Goreng Jamur,
                                        Buah Slice,
                                        Krupuk,
                                        Teh Panas/Es,
                                        Mineral Water
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="menu-item d-flex align-items-center">
                                <img class="flex-shrink-0 img-fluid rounded-circle" src="{$BASEURL}resource/assets-frontend/dist/outlet/capcay.jpg" alt="">
                                <div class="w-100 d-flex flex-column text-start ps-4">
                                    <div class="d-flex justify-content-between border-bottom border-primary pb-2 mb-2">
                                        <h4>Menu E</h4>
                                        <h4 class="text-primary">Rp 24.000,-</h4>
                                    </div>
                                    <p class="mb-5">Nasi Putih,
                                        Vegetable Clear Soup,
                                        Bola bola Ayam Teriyaki/ Sate Bakso,
                                        Ca Baby Corn,
                                        Buah Slice,
                                        Krupuk,
                                        Teh Panas/Es,
                                        Mineral Water
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="menu-item d-flex align-items-center">
                                <img class="flex-shrink-0 img-fluid rounded-circle" src="{$BASEURL}resource/assets-frontend/dist/outlet/capcay.jpg" alt="">
                                <div class="w-100 d-flex flex-column text-start ps-4">
                                    <div class="d-flex justify-content-between border-bottom border-primary pb-2 mb-2">
                                        <h4>Menu F</h4>
                                        <h4 class="text-primary">Rp 24.000,-</h4>
                                    </div>
                                    <p class="mb-5">Nasi Putih,
                                        Sayur Bening Bayam, 
                                        Nugget Goreng/Sate Cikuwa,
                                        Bihun Goreng,
                                        Buah Slice,
                                        Krupuk,
                                        Teh Panas/Es,
                                        Mineral Water
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="tab-8" class="tab-pane fade show p-0">
                    <div class="row g-4">
                        <div class="col-lg-6">
                            <div class="menu-item d-flex align-items-center">
                                <img class="flex-shrink-0 img-fluid rounded-circle" src="{$BASEURL}resource/assets-frontend/dist/outlet/capcay.jpg" alt="">
                                <div class="w-100 d-flex flex-column text-start ps-4">
                                    <div class="d-flex justify-content-between border-bottom border-primary pb-2 mb-2">
                                        <h4>ECO A</h4>
                                        <h4 class="text-primary">Rp 27.000,-</h4>
                                    </div>
                                    <p class="mb-5">Nasi Putih,
                                        Sayur Bobor Bayam Labu Siam,
                                        Ayam Balado,
                                        Mie Goreng Kenes,
                                        Krupuk Udang,
                                        Buah Slice,
                                        Teh Panas / Es,
                                        Mineral Wate</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="menu-item d-flex align-items-center">
                                <img class="flex-shrink-0 img-fluid rounded-circle" src="{$BASEURL}resource/assets-frontend/dist/outlet/capcay.jpg" alt="">
                                <div class="w-100 d-flex flex-column text-start ps-4">
                                    <div class="d-flex justify-content-between border-bottom border-primary pb-2 mb-2">
                                        <h4>ECO B</h4>
                                        <h4 class="text-primary">Rp 27.000,-</h4>
                                    </div>
                                    <p class="mb-5">Nasi Putih,
                                        Sayur Asem,
                                        Pesmol Ikan Kemangi,
                                        Bakwan Jagung,
                                        Krupuk Udang,
                                        Buah Slice,
                                        Teh Panas / Es,
                                        Mineral Water
                                        </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="menu-item d-flex align-items-center">
                                <img class="flex-shrink-0 img-fluid rounded-circle" src="{$BASEURL}resource/assets-frontend/dist/outlet/capcay.jpg" alt="">
                                <div class="w-100 d-flex flex-column text-start ps-4">
                                    <div class="d-flex justify-content-between border-bottom border-primary pb-2 mb-2">
                                        <h4>GENDHIS A</h4>
                                        <h4 class="text-primary">Rp 37.000,-</h4>
                                    </div>
                                    <p class="mb-5">Nasi Putih,
                                        Jangan Ndeso,
                                        Ayam Goreng Sinduadi,
                                        Telur Pindang,
                                        Gudangan Sayur,
                                        Krupuk,
                                        Buah Slice,
                                        Sambal Matang,
                                        Teh Panas / Es,
                                        Mineral Water / Infused Water</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="menu-item d-flex align-items-center">
                                <img class="flex-shrink-0 img-fluid rounded-circle" src="{$BASEURL}resource/assets-frontend/dist/outlet/capcay.jpg" alt="">
                                <div class="w-100 d-flex flex-column text-start ps-4">
                                    <div class="d-flex justify-content-between border-bottom border-primary pb-2 mb-2">
                                        <h4>GENDHIS B</h4>
                                        <h4 class="text-primary">Rp 37.000,-</h4>
                                    </div>
                                    <p class="mb-5">Nasi Putih
                                        Ayam Areh
                                        Telur Areh
                                        Gudeg Areh Jogja
                                        Sambal Goreng Krecek Tempe
                                        Krupuk
                                        Buah Slice
                                        Sambal Matang
                                        Teh Panas / Es
                                        Mineral Water / Infused Water</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="menu-item d-flex align-items-center">
                                <img class="flex-shrink-0 img-fluid rounded-circle" src="{$BASEURL}resource/assets-frontend/dist/outlet/capcay.jpg" alt="">
                                <div class="w-100 d-flex flex-column text-start ps-4">
                                    <div class="d-flex justify-content-between border-bottom border-primary pb-2 mb-2">
                                        <h4>AWIS A</h4>
                                        <h4 class="text-primary">Rp 47.000,-</h4>
                                    </div>
                                    <p class="mb-5">Nasi Putih,
                                        Sop Manten,
                                        Semur Bola Bola Ayam,
                                        Ayam Bumbu Rujak,
                                        Oseng Daun Pepaya,
                                        Soon Lombok Ijo,
                                        Krupuk,
                                        Buah Slice,
                                        Sambal Matang,
                                        Es Dawet Pandan,
                                        Teh Panas / Es,
                                        Infused Water</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="menu-item d-flex align-items-center">
                                <img class="flex-shrink-0 img-fluid rounded-circle" src="{$BASEURL}resource/assets-frontend/dist/outlet/capcay.jpg" alt="">
                                <div class="w-100 d-flex flex-column text-start ps-4">
                                    <div class="d-flex justify-content-between border-bottom border-primary pb-2 mb-2">
                                        <h4>AWIS B</h4>
                                        <h4 class="text-primary">Rp 47.000,-</h4>
                                    </div>
                                    <p class="mb-5">Nasi Putih,
                                        Asem Asem Daging,
                                        Ayam Bakar Kalasan,
                                        Ikan Goreng Rempah,
                                        Terancam,
                                        Bakmi Goreng Jawa,
                                        Krupuk,
                                        Buah Slice,
                                        Sambal Matang,
                                        Es Dawet Pandan,
                                        Teh Panas / Es,
                                        Infused Water</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="menu-item d-flex align-items-center">
                                <img class="flex-shrink-0 img-fluid rounded-circle" src="{$BASEURL}resource/assets-frontend/dist/outlet/capcay.jpg" alt="">
                                <div class="w-100 d-flex flex-column text-start ps-4">
                                    <div class="d-flex justify-content-between border-bottom border-primary pb-2 mb-2">
                                        <h4>INGGIL A</h4>
                                        <h4 class="text-primary">Rp 62.000,-</h4>
                                    </div>
                                    <p class="mb-5">Nasi Putih,
                                        Sup Rolade,
                                        Oseng Mercon,
                                        Mangut Nila,
                                        Terancam,
                                        Orek Tempe Kacang,
                                        Perkedel Kentang,
                                        Krupuk,
                                        Puding,
                                        Buah,
                                        Sambal Matang,
                                        Es Dawet Pandan,
                                        Teh Panas / Es,
                                        Infused Water</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="menu-item d-flex align-items-center">
                                <img class="flex-shrink-0 img-fluid rounded-circle" src="{$BASEURL}resource/assets-frontend/dist/outlet/capcay.jpg" alt="">
                                <div class="w-100 d-flex flex-column text-start ps-4">
                                    <div class="d-flex justify-content-between border-bottom border-primary pb-2 mb-2">
                                        <h4>INGGIL B</h4>
                                        <h4 class="text-primary">Rp 62.000,-</h4>
                                    </div>
                                    <p class="mb-5">Nasi Putih,
                                        Brongkos,
                                        Empal Gepuk,
                                        Ayam Goreng Srundeng,
                                        Gule Daun Kates,
                                        Oseng Soon Jamur,
                                        Tempe Bacem,
                                        Krupuk,
                                        Puding,
                                        Buah,
                                        Sambal Matang,
                                        Es Dawet Pandan,
                                        Teh Panas / Es,
                                        Infused Water</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="tab-9" class="tab-pane fade show p-0">
                    <div class="row g-4">
                        <div class="col-lg-6">
                            <div class="menu-item d-flex align-items-center">
                                <img class="flex-shrink-0 img-fluid rounded-circle" src="{$BASEURL}resource/assets-frontend/dist/outlet/capcay.jpg" alt="">
                                <div class="w-100 d-flex flex-column text-start ps-4">
                                    <div class="d-flex justify-content-between border-bottom border-primary pb-2 mb-2">
                                        <h4>DANDANG A</h4>
                                        <h4 class="text-primary">Rp 27.000,-</h4>
                                    </div>
                                    <p class="mb-5">Nasi Putih,
                                        Soup Pancawarna,
                                        Mahi Mahi Garo Rica,
                                        Buncis Balacan,
                                        Krupuk Udang,
                                        Buah Slice,
                                        Teh Panas / Es,
                                        Mineral Water</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="menu-item d-flex align-items-center">
                                <img class="flex-shrink-0 img-fluid rounded-circle" src="{$BASEURL}resource/assets-frontend/dist/outlet/capcay.jpg" alt="">
                                <div class="w-100 d-flex flex-column text-start ps-4">
                                    <div class="d-flex justify-content-between border-bottom border-primary pb-2 mb-2">
                                        <h4>DANDANG B</h4>
                                        <h4 class="text-primary">Rp 27.000,-</h4>
                                    </div>
                                    <p class="mb-5">Nasi Putih,
                                        Soup Merah Surabaya,
                                        Ayam Bumbu Bali,
                                        Mie Mandalika,
                                        Krupuk Udang,
                                        Buah Slice,
                                        Teh Panas / Es,
                                        Mineral Wate</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="menu-item d-flex align-items-center">
                                <img class="flex-shrink-0 img-fluid rounded-circle" src="{$BASEURL}resource/assets-frontend/dist/outlet/capcay.jpg" alt="">
                                <div class="w-100 d-flex flex-column text-start ps-4">
                                    <div class="d-flex justify-content-between border-bottom border-primary pb-2 mb-2">
                                        <h4>TUNGKU A</h4>
                                        <h4 class="text-primary">Rp 37.000,-</h4>
                                    </div>
                                    <p class="mb-5">Nasi Putih,
                                        Gule Nangka,
                                        Rendang Ayam,
                                        Telur Dadar Padang,
                                        Lalapan,
                                        Krupuk,
                                        Buah Slice,
                                        Sambal Ijo,
                                        Teh Panas / Es,
                                        Mineral Water / Infused Water</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="menu-item d-flex align-items-center">
                                <img class="flex-shrink-0 img-fluid rounded-circle" src="{$BASEURL}resource/assets-frontend/dist/outlet/capcay.jpg" alt="">
                                <div class="w-100 d-flex flex-column text-start ps-4">
                                    <div class="d-flex justify-content-between border-bottom border-primary pb-2 mb-2">
                                        <h4>TUNGKU B</h4>
                                        <h4 class="text-primary">Rp 37.000,-</h4>
                                    </div>
                                    <p class="mb-5">Nasi Putih,
                                        Terik Tahu,
                                        Ayam Besengek,
                                        Semur Telur,
                                        Sambal Goreng Jipang,
                                        Krupuk,
                                        Buah Slice,
                                        Sambal Matang,
                                        Teh Panas / Es,
                                        Mineral Water / Infused Water</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="menu-item d-flex align-items-center">
                                <img class="flex-shrink-0 img-fluid rounded-circle" src="{$BASEURL}resource/assets-frontend/dist/outlet/capcay.jpg" alt="">
                                <div class="w-100 d-flex flex-column text-start ps-4">
                                    <div class="d-flex justify-content-between border-bottom border-primary pb-2 mb-2">
                                        <h4>CETHING A</h4>
                                        <h4 class="text-primary">Rp 47.000,-</h4>
                                    </div>
                                    <p class="mb-5">Nasi Putih,
                                        Sop Ayam Pecok,
                                        Ayam Taliwang,
                                        Ikan Kalio,
                                        Tumis Putren Jamur,
                                        Bakwan Tahu,
                                        Krupuk,
                                        Buah Slice,
                                        Sambal Ijo,
                                        Es Setup Jambu, Nanas, Bengkoang,
                                        Teh Panas / Es,
                                        Infused Water</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="menu-item d-flex align-items-center">
                                <img class="flex-shrink-0 img-fluid rounded-circle" src="{$BASEURL}resource/assets-frontend/dist/outlet/capcay.jpg" alt="">
                                <div class="w-100 d-flex flex-column text-start ps-4">
                                    <div class="d-flex justify-content-between border-bottom border-primary pb-2 mb-2">
                                        <h4>CETHING B</h4>
                                        <h4 class="text-primary">Rp 47.000,-</h4>
                                    </div>
                                    <p class="mb-5">Nasi Putih,
                                        Sop Kimlo,
                                        Balado Bola Bola Ayam,
                                        Nila Sauce Padang,
                                        Tauge Ikan Asin,
                                        Bihun Goreng,
                                        Krupuk,
                                        Buah Slice,
                                        Sambal Matang,
                                        Es Setup Jambu, Nanas, Bengkoang,
                                        Teh Panas / Es,
                                        Infused Water</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="menu-item d-flex align-items-center">
                                <img class="flex-shrink-0 img-fluid rounded-circle" src="{$BASEURL}resource/assets-frontend/dist/outlet/capcay.jpg" alt="">
                                <div class="w-100 d-flex flex-column text-start ps-4">
                                    <div class="d-flex justify-content-between border-bottom border-primary pb-2 mb-2">
                                        <h4>KUALI A</h4>
                                        <h4 class="text-primary">Rp 62.000,-</h4>
                                    </div>
                                    <p class="mb-5">Nasi Putih,
                                        Sop Daging Kacang Merah,
                                        Rendang Daging,
                                        Garang Asem Ayam,
                                        Tumis Putren Ati,
                                        Mie Goreng Merapi,
                                        Perkedel Tahu,
                                        Krupuk,
                                        Puding,
                                        Buah Sambal Matang,
                                        Es Setup Jambu, Nanas, Bengkoang,
                                        Teh Panas / Es,
                                        Infused Water
                                        </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="menu-item d-flex align-items-center">
                                <img class="flex-shrink-0 img-fluid rounded-circle" src="{$BASEURL}resource/assets-frontend/dist/outlet/capcay.jpg" alt="">
                                <div class="w-100 d-flex flex-column text-start ps-4">
                                    <div class="d-flex justify-content-between border-bottom border-primary pb-2 mb-2">
                                        <h4>KUALI B</h4>
                                        <h4 class="text-primary">Rp 62.000,-</h4>
                                    </div>
                                    <p class="mb-5">Nasi Putih,
                                        Tekwan,
                                        Semur Daging,
                                        Nila Bakar Jimbaran,
                                        Orak Arik Sayur Telur,
                                        Mie Goreng Aceh,
                                        Bala Bala Jagung,
                                        Krupuk,
                                        Puding,
                                        Buah Sambal Matang,
                                        Es Setup Jambu, Nanas, Bengkoang,
                                        Teh Panas / Es,
                                        Infused Water</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
     
            </div>
        </div>
    </div>
</div>
<!-- Menu End -->
