<div class="col-md-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <div class="row my-2">
                <div class="col-md-3">  
                    <div class="form-group">
                        <label>Banner Image</label>
                        <div class="form-group position-relative banner_img text-center">
                            <img src="{$BASEURL}resource/assets-frontend/dist/logo/{$banners.banner_img}">
                        </div>
                    </div>
                </div>     
                <div class="col-md-6">  
                    <div class="row my-2">

                        <div class="col-md-4">  
                            <div class="form-group">
                                <label>Banner Images</label>
                                <p class="form-label"><img src="{$BASEURL}resource/assets-frontend/dist/logo/{$banners.banner_img}" alt="img" class="img-preview"/></p>
                            </div>
                        </div>
                    </div>
                    <div class="row my-2">
                        <div class="col-md-4">  
                            <div class="form-group">
                                <label>Nama Banner</label>
                                <p class="form-label"><b>{$banners.banner_name}</b></p>
                            </div>
                        </div>
                    </div>
                </div>      
            </div>    
        </div>
    </div>
</div>
<!-- end -->
