<div class="col-md-12 grid-margin stretch-card">
	<div class="card">
		<div class="card-body">
			<div class="clearfix">
				<div class="col-lg-5 mx-auto">
					<div class="auth-form-light text-left p-5">
						<div class="login-header-logo">
							<img src="{$BASEURL}resource/assets/default/images/{$site.site_logo|default:''}" alt="logo">
						</div>
						<div class="pb-3 pt-2 login-header-text">
							<h4 class="text-center">
								Oops!
							</h4>
							<p>The requested page is under maintenance.<br/>
							    Please contact IT Staff.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>