<div class="div">
    <img
      loading="lazy"
      src="https://cdn.builder.io/api/v1/image/assets/TEMP/45707ebe28c1338797704ae4a594b5c45c997758565606d970e02132cff4f3b3?apiKey=c3da66c75bbc481ea6335d601f7cd637&"
      class="img"
    />
    <div class="div-2">
      <div class="div-3">
        <img
          loading="lazy"
          src="https://cdn.builder.io/api/v1/image/assets/TEMP/7de68536786b91a686eb7cbb2544d52cd66bd7fbf5df450daededefcc34f932a?apiKey=c3da66c75bbc481ea6335d601f7cd637&"
          class="img-2"
        />
        <div class="div-4">Bakery</div>
      </div>
    </div>
    <div class="div-5">
      <div class="div-6">
        <img
          loading="lazy"
          src="https://cdn.builder.io/api/v1/image/assets/TEMP/7de68536786b91a686eb7cbb2544d52cd66bd7fbf5df450daededefcc34f932a?apiKey=c3da66c75bbc481ea6335d601f7cd637&"
          class="img-3"
        />
        <div class="div-7">Resto</div>
      </div>
    </div>
    <div class="div-8">
      <div class="div-9">
        <img
          loading="lazy"
          src="https://cdn.builder.io/api/v1/image/assets/TEMP/7de68536786b91a686eb7cbb2544d52cd66bd7fbf5df450daededefcc34f932a?apiKey=c3da66c75bbc481ea6335d601f7cd637&"
          class="img-4"
        />
        <div class="div-10">Kopitiam</div>
      </div>
    </div>
    <div class="div-11">
      <div class="div-12">
        <img
          loading="lazy"
          src="https://cdn.builder.io/api/v1/image/assets/TEMP/aa6b8b8a205b3c0ea5fae38e49ae48235248463803edab983ab17d7038844557?apiKey=c3da66c75bbc481ea6335d601f7cd637&"
          class="img-5"
        />
        <div class="div-13">Outlet</div>
      </div>
    </div>
    <div class="div-14">
      <div class="div-15">
        <img
          loading="lazy"
          src="https://cdn.builder.io/api/v1/image/assets/TEMP/aa6b8b8a205b3c0ea5fae38e49ae48235248463803edab983ab17d7038844557?apiKey=c3da66c75bbc481ea6335d601f7cd637&"
          class="img-6"
        />
        <div class="div-16">Tersedia</div>
      </div>
    </div>
    <div class="div-17">
      <div class="div-18">
        <img
          loading="lazy"
          src="https://cdn.builder.io/api/v1/image/assets/TEMP/aa6b8b8a205b3c0ea5fae38e49ae48235248463803edab983ab17d7038844557?apiKey=c3da66c75bbc481ea6335d601f7cd637&"
          class="img-7"
        />
        <div class="div-19">Fasilitas</div>
      </div>
    </div>
    <div class="div-20">
      <div class="div-21">
        <img
          loading="lazy"
          src="https://cdn.builder.io/api/v1/image/assets/TEMP/de766b8508bcf50184b50959da83e213b72b5c5ff5e0e6a23ee2ed0e20c5184e?apiKey=c3da66c75bbc481ea6335d601f7cd637&"
          class="img-8"
        />
        <div class="div-22">Karir</div>
      </div>
    </div>
    <div class="div-23">
      <div class="div-24">
        <img
          loading="lazy"
          src="https://cdn.builder.io/api/v1/image/assets/TEMP/de766b8508bcf50184b50959da83e213b72b5c5ff5e0e6a23ee2ed0e20c5184e?apiKey=c3da66c75bbc481ea6335d601f7cd637&"
          class="img-9"
        />
        <div class="div-25">Hubungi Kami</div>
      </div>
    </div>
    <div class="div-26">
      <div class="div-27">
        <img
          loading="lazy"
          src="https://cdn.builder.io/api/v1/image/assets/TEMP/de766b8508bcf50184b50959da83e213b72b5c5ff5e0e6a23ee2ed0e20c5184e?apiKey=c3da66c75bbc481ea6335d601f7cd637&"
          class="img-10"
        />
        <div class="div-28">Akun</div>
      </div>
    </div>
    <div class="div-29">
      <div class="div-30">
        <img
          loading="lazy"
          src="https://cdn.builder.io/api/v1/image/assets/TEMP/de766b8508bcf50184b50959da83e213b72b5c5ff5e0e6a23ee2ed0e20c5184e?apiKey=c3da66c75bbc481ea6335d601f7cd637&"
          class="img-11"
        />
        <div class="div-31">Keluar</div>
      </div>
    </div>
  </div>
  <style>
    .div {
      align-items: flex-start;
      background-color: #fff;
      display: flex;
      flex-direction: column;
      padding: 49px 0;
    }
    .img {
      aspect-ratio: 1;
      object-fit: contain;
      object-position: center;
      width: 44px;
      overflow: hidden;
      align-self: start;
      margin-left: 40px;
      max-width: 100%;
    }
    @media (max-width: 991px) {
      .img {
        margin-left: 10px;
      }
    }
    .div-2 {
      justify-content: center;
      background: linear-gradient(
        90deg,
        #fe8100 0.83%,
        rgba(254, 129, 0, 0) 99.98%
      );
      align-self: stretch;
      display: flex;
      margin-top: 32px;
      width: 100%;
      flex-direction: column;
      padding: 48px;
    }
    @media (max-width: 991px) {
      .div-2 {
        max-width: 100%;
        padding: 0 20px;
      }
    }
    .div-3 {
      align-items: center;
      display: flex;
      padding-right: 80px;
      justify-content: space-between;
      gap: 20px;
    }
    @media (max-width: 991px) {
      .div-3 {
        max-width: 100%;
        flex-wrap: wrap;
        padding-right: 20px;
      }
    }
    .img-2 {
      aspect-ratio: 1;
      object-fit: contain;
      object-position: center;
      width: 24px;
      fill: #fff;
      overflow: hidden;
      max-width: 100%;
      margin: auto 0;
    }
    .div-4 {
      color: #fff;
      align-self: stretch;
      flex-grow: 1;
      white-space: nowrap;
      font: 500 40px Montserrat, sans-serif;
    }
    @media (max-width: 991px) {
      .div-4 {
        white-space: initial;
      }
    }
    .div-5 {
      justify-content: center;
      background: linear-gradient(
        90deg,
        #fe4e0b 0.83%,
        rgba(254, 129, 0, 0) 99.98%
      );
      align-self: stretch;
      display: flex;
      width: 100%;
      flex-direction: column;
      padding: 48px;
    }
    @media (max-width: 991px) {
      .div-5 {
        max-width: 100%;
        padding: 0 20px;
      }
    }
    .div-6 {
      align-items: center;
      display: flex;
      padding-right: 80px;
      justify-content: space-between;
      gap: 20px;
    }
    @media (max-width: 991px) {
      .div-6 {
        max-width: 100%;
        flex-wrap: wrap;
        padding-right: 20px;
      }
    }
    .img-3 {
      aspect-ratio: 1;
      object-fit: contain;
      object-position: center;
      width: 24px;
      fill: #fff;
      overflow: hidden;
      max-width: 100%;
      margin: auto 0;
    }
    .div-7 {
      color: #fff;
      align-self: stretch;
      flex-grow: 1;
      white-space: nowrap;
      font: 500 40px Montserrat, sans-serif;
    }
    @media (max-width: 991px) {
      .div-7 {
        white-space: initial;
      }
    }
    .div-8 {
      justify-content: center;
      background: linear-gradient(
        90deg,
        #9f111a 0.83%,
        rgba(254, 129, 0, 0) 99.98%
      );
      align-self: stretch;
      display: flex;
      width: 100%;
      flex-direction: column;
      padding: 48px;
    }
    @media (max-width: 991px) {
      .div-8 {
        max-width: 100%;
        padding: 0 20px;
      }
    }
    .div-9 {
      align-items: center;
      display: flex;
      padding-right: 80px;
      justify-content: space-between;
      gap: 20px;
    }
    @media (max-width: 991px) {
      .div-9 {
        max-width: 100%;
        flex-wrap: wrap;
        padding-right: 20px;
      }
    }
    .img-4 {
      aspect-ratio: 1;
      object-fit: contain;
      object-position: center;
      width: 24px;
      fill: #fff;
      overflow: hidden;
      max-width: 100%;
      margin: auto 0;
    }
    .div-10 {
      color: #fff;
      align-self: stretch;
      flex-grow: 1;
      white-space: nowrap;
      font: 500 40px Montserrat, sans-serif;
    }
    @media (max-width: 991px) {
      .div-10 {
        white-space: initial;
      }
    }
    .div-11 {
      justify-content: center;
      background-color: #fff;
      align-self: stretch;
      display: flex;
      width: 100%;
      flex-direction: column;
      padding: 48px;
    }
    @media (max-width: 991px) {
      .div-11 {
        max-width: 100%;
        padding: 0 20px;
      }
    }
    .div-12 {
      align-items: center;
      display: flex;
      padding-right: 80px;
      justify-content: space-between;
      gap: 20px;
    }
    @media (max-width: 991px) {
      .div-12 {
        max-width: 100%;
        flex-wrap: wrap;
        padding-right: 20px;
      }
    }
    .img-5 {
      aspect-ratio: 1;
      object-fit: contain;
      object-position: center;
      width: 24px;
      fill: #5d2515;
      overflow: hidden;
      max-width: 100%;
      margin: auto 0;
    }
    .div-13 {
      color: #5d2515;
      align-self: stretch;
      flex-grow: 1;
      white-space: nowrap;
      font: 500 40px Montserrat, sans-serif;
    }
    @media (max-width: 991px) {
      .div-13 {
        white-space: initial;
      }
    }
    .div-14 {
      justify-content: center;
      background-color: #fff;
      align-self: stretch;
      display: flex;
      width: 100%;
      flex-direction: column;
      padding: 48px;
    }
    @media (max-width: 991px) {
      .div-14 {
        max-width: 100%;
        padding: 0 20px;
      }
    }
    .div-15 {
      align-items: center;
      display: flex;
      padding-right: 80px;
      justify-content: space-between;
      gap: 20px;
    }
    @media (max-width: 991px) {
      .div-15 {
        max-width: 100%;
        flex-wrap: wrap;
        padding-right: 20px;
      }
    }
    .img-6 {
      aspect-ratio: 1;
      object-fit: contain;
      object-position: center;
      width: 24px;
      fill: #5d2515;
      overflow: hidden;
      max-width: 100%;
      margin: auto 0;
    }
    .div-16 {
      color: #5d2515;
      align-self: stretch;
      flex-grow: 1;
      white-space: nowrap;
      font: 500 40px Montserrat, sans-serif;
    }
    @media (max-width: 991px) {
      .div-16 {
        white-space: initial;
      }
    }
    .div-17 {
      justify-content: center;
      background-color: #fff;
      align-self: stretch;
      display: flex;
      width: 100%;
      flex-direction: column;
      padding: 48px;
    }
    @media (max-width: 991px) {
      .div-17 {
        max-width: 100%;
        padding: 0 20px;
      }
    }
    .div-18 {
      align-items: center;
      display: flex;
      padding-right: 80px;
      justify-content: space-between;
      gap: 20px;
    }
    @media (max-width: 991px) {
      .div-18 {
        max-width: 100%;
        flex-wrap: wrap;
        padding-right: 20px;
      }
    }
    .img-7 {
      aspect-ratio: 1;
      object-fit: contain;
      object-position: center;
      width: 24px;
      fill: #5d2515;
      overflow: hidden;
      max-width: 100%;
      margin: auto 0;
    }
    .div-19 {
      color: #5d2515;
      align-self: stretch;
      flex-grow: 1;
      white-space: nowrap;
      font: 500 40px Montserrat, sans-serif;
    }
    @media (max-width: 991px) {
      .div-19 {
        white-space: initial;
      }
    }
    .div-20 {
      justify-content: center;
      background-color: #fff;
      align-self: stretch;
      display: flex;
      width: 100%;
      flex-direction: column;
      padding: 48px;
    }
    @media (max-width: 991px) {
      .div-20 {
        max-width: 100%;
        padding: 0 20px;
      }
    }
    .div-21 {
      align-items: center;
      display: flex;
      padding-right: 80px;
      justify-content: space-between;
      gap: 20px;
    }
    @media (max-width: 991px) {
      .div-21 {
        max-width: 100%;
        flex-wrap: wrap;
        padding-right: 20px;
      }
    }
    .img-8 {
      aspect-ratio: 1;
      object-fit: contain;
      object-position: center;
      width: 24px;
      fill: #5d2515;
      overflow: hidden;
      max-width: 100%;
      margin: auto 0;
    }
    .div-22 {
      color: #5d2515;
      align-self: stretch;
      flex-grow: 1;
      white-space: nowrap;
      font: 500 40px Montserrat, sans-serif;
    }
    @media (max-width: 991px) {
      .div-22 {
        white-space: initial;
      }
    }
    .div-23 {
      justify-content: center;
      background-color: #fff;
      align-self: stretch;
      display: flex;
      width: 100%;
      flex-direction: column;
      padding: 48px;
    }
    @media (max-width: 991px) {
      .div-23 {
        max-width: 100%;
        padding: 0 20px;
      }
    }
    .div-24 {
      align-items: center;
      display: flex;
      padding-right: 80px;
      justify-content: space-between;
      gap: 20px;
    }
    @media (max-width: 991px) {
      .div-24 {
        max-width: 100%;
        flex-wrap: wrap;
        padding-right: 20px;
      }
    }
    .img-9 {
      aspect-ratio: 1;
      object-fit: contain;
      object-position: center;
      width: 24px;
      fill: #5d2515;
      overflow: hidden;
      max-width: 100%;
      margin: auto 0;
    }
    .div-25 {
      color: #5d2515;
      align-self: stretch;
      flex-grow: 1;
      white-space: nowrap;
      font: 500 40px Montserrat, sans-serif;
    }
    @media (max-width: 991px) {
      .div-25 {
        white-space: initial;
      }
    }
    .div-26 {
      justify-content: center;
      background-color: #fff;
      align-self: stretch;
      display: flex;
      width: 100%;
      flex-direction: column;
      padding: 48px;
    }
    @media (max-width: 991px) {
      .div-26 {
        max-width: 100%;
        padding: 0 20px;
      }
    }
    .div-27 {
      align-items: center;
      display: flex;
      padding-right: 80px;
      justify-content: space-between;
      gap: 20px;
    }
    @media (max-width: 991px) {
      .div-27 {
        max-width: 100%;
        flex-wrap: wrap;
        padding-right: 20px;
      }
    }
    .img-10 {
      aspect-ratio: 1;
      object-fit: contain;
      object-position: center;
      width: 24px;
      fill: #5d2515;
      overflow: hidden;
      max-width: 100%;
      margin: auto 0;
    }
    .div-28 {
      color: #5d2515;
      align-self: stretch;
      flex-grow: 1;
      white-space: nowrap;
      font: 500 40px Montserrat, sans-serif;
    }
    @media (max-width: 991px) {
      .div-28 {
        white-space: initial;
      }
    }
    .div-29 {
      justify-content: center;
      background-color: #fff;
      align-self: stretch;
      display: flex;
      margin-bottom: 236px;
      width: 100%;
      flex-direction: column;
      padding: 48px;
    }
    @media (max-width: 991px) {
      .div-29 {
        max-width: 100%;
        margin-bottom: 40px;
        padding: 0 20px;
      }
    }
    .div-30 {
      align-items: center;
      display: flex;
      padding-right: 80px;
      justify-content: space-between;
      gap: 20px;
    }
    @media (max-width: 991px) {
      .div-30 {
        max-width: 100%;
        flex-wrap: wrap;
        padding-right: 20px;
      }
    }
    .img-11 {
      aspect-ratio: 1;
      object-fit: contain;
      object-position: center;
      width: 24px;
      fill: #5d2515;
      overflow: hidden;
      max-width: 100%;
      margin: auto 0;
    }
    .div-31 {
      color: #5d2515;
      align-self: stretch;
      flex-grow: 1;
      white-space: nowrap;
      font: 500 40px Montserrat, sans-serif;
    }
    @media (max-width: 991px) {
      .div-31 {
        white-space: initial;
      }
    }
  </style>
  