[mysqld]
pid-file = /var/run/mysqld/mysqld.pid
socket = /var/run/mysqld/mysqld.sock
datadir = /var/lib/mysql
secure-file-priv = NULL
default-authentication-plugin = mysql_native_password

# Performance & Timeout settings
max_allowed_packet = 16M
net_read_timeout = 90 
net_write_timeout = 90
wait_timeout = 120  
interactive_timeout = 120

# TLS/SSL Configuration
tls_version = TLSv1.2,TLSv1.3
ssl-cipher = ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256

# Permission settings
user = mysql

[client]
socket = /var/run/mysqld/mysqld.sock

[mysql]
no-auto-rehash