<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="{$BASEURL}/resource/assets-frontend/dist/logo/LOGO KENES PNG.png" type="image/png">
        <link rel="stylesheet" href="{$BASEURL}/resource/assets-frontend/node_modules/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet"
            href="{$BASEURL}/resource/assets-frontend/node_modules/@fancyapps/ui/dist/fancybox/fancybox.css">
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css">
        <link rel="stylesheet" href="{$BASEURL}/resource/assets-frontend/css/kenesStyle.css">
        <link rel="stylesheet" href="{$BASEURL}/resource/assets-frontend/fontawesome-free-6.4.0-web/css/all.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
        <link rel="stylesheet" href="{$BASEURL}/resource/assets-frontend/jquery/css/alertify.min.css" />
        <link rel="stylesheet" href="{$BASEURL}/resource/assets-frontend/jquery/css/themes/default.min.css" />
        
        <title>Kenes Resto & Bakery</title>
    </head>


<div class="div">
    <img
      loading="lazy"
      src="https://cdn.builder.io/api/v1/image/assets/TEMP/56d7bb5a2631b1f56da9fb15fa60918696643a882077f7986456218104cbff19?"
      class="img"
    />
    <div class="div-2">
      <div class="div-3">
        <div class="div-4">
          <div class="div-5">BAKERY</div>
          <img
            loading="lazy"
            src="https://cdn.builder.io/api/v1/image/assets/TEMP/58ff3553f91a02355101b6d3d624be4a5904c0f0e79ba0c007efded9c53b22ea?"
            class="img-2"
          />
        </div>
        <img
          loading="lazy"
          src="https://cdn.builder.io/api/v1/image/assets/TEMP/17c89c173dc4edb7be3e5c40ff7b2d02b293b7d2aecbb4451c0cb43c95c490d9?"
          class="img-3"
        />
        <div class="div-6">RESTO</div>
        <img
          loading="lazy"
          src="https://cdn.builder.io/api/v1/image/assets/TEMP/d632befa7cda0d6e651d5bd8a55e34685c1929cb471b9c61ea03263db3659024?"
          class="img-4"
        />
        <div class="div-7">KOPITIAM</div>
      </div>
    </div>
    <div class="div-8">
      <div class="div-9">
        <img
          loading="lazy"
          src="https://cdn.builder.io/api/v1/image/assets/TEMP/eed8155ce814c473cb22a33a4862a7b26aa9c9b7e8af477035027089cd7c85fd?"
          class="img-5"
        />
        <div class="div-10">Choco Lindt</div>
        <div class="div-11">D 20 cm</div>
      </div>
      <img
        loading="lazy"
        srcset="..."
        class="img-6"
      />
      <div class="div-12">
        <img
          loading="lazy"
          src="https://cdn.builder.io/api/v1/image/assets/TEMP/9c89f37decce4416c25c1329d83231ae87fe0fd017dd5b3f0cb011ce666f7a86?"
          class="img-7"
        />
        <img
          loading="lazy"
          src="https://cdn.builder.io/api/v1/image/assets/TEMP/188158c2be2edc9ca95ed37b760746e0ad42412eaa93cda9678a4e0e5e8fae05?"
          class="img-8"
        />
      </div>
    </div>
    <div class="div-13">
      <img
        loading="lazy"
        srcset="..."
        class="img-9"
      />
      <div class="div-14">
        <div class="div-15">
          <div class="div-16">
            <div class="column">
              <img
                loading="lazy"
                src="https://cdn.builder.io/api/v1/image/assets/TEMP/d2624d0448c84adb57acaca84fc454038e8b1e49a3bfe07009b50598bf1631a3?"
                class="img-10"
              />
            </div>
            <div class="column-2">
              <div class="div-17">
                Selamat DatangKami adalah destinasi yang sempurnauntuk semua
                pencinta kuliner. Kamibangga menyajikan produk berkualitasyang
                memanjakan lidah anda.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="div-18">
      <div class="div-19">
        <div class="div-20">
          <div class="column-3">
            <img
              loading="lazy"
              srcset="..."
              class="img-11"
            />
          </div>
          <div class="column-4">
            <div class="div-21">
              <div class="div-22">Bakpia Premium</div>
              <div class="div-23">
                Menjaga cita rasa Istimewa untuk buah tangan kalian dengan
                menggunakan 100% bahan Premium dan Halal membuat kalian selalu
                mengingat Jogja disetiap gigitan
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="div-24">
        <div class="div-25">
          <div class="column-5">
            <img
              loading="lazy"
              srcset="..."
              class="img-12"
            />
          </div>
          <div class="column-6">
            <div class="div-26">
              <div class="div-27">Cakes</div>
              <div class="div-28">
                Sentuhan tangan Professional dan rasa klasik dari Cake Kenes yang
                akan membawa kalian kembali ke masa kecil dulu
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="div-29">
        <div class="div-30">
          <div class="column-7">
            <img
              loading="lazy"
              srcset="..."
              class="img-13"
            />
          </div>
          <div class="column-8">
            <div class="div-31">
              <div class="div-32">Bread</div>
              <div class="div-33">
                Favorit Kenes Lovers yang satu ini sudah tidak perlu diragukan
                lagi, kalian bisa buktikan sendiri dengan mengunjungi outlet Kenes
                di kota kita tercinta, Yogyakarta.
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="div-34">
        <div class="div-35">
          <div class="column-9">
            <img
              loading="lazy"
              srcset="..."
              class="img-14"
            />
          </div>
          <div class="column-10">
            <div class="div-36">
              <div class="div-37">Pastry & Danish</div>
              <div class="div-38">
                Dibuat dengan memperhatikan kualitas bahan yang Premium membuat
                kamu akan selalu mencintai Pastry dari Kenes
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="div-39">
        <div class="div-40">
          <div class="column-11">
            <img
              loading="lazy"
              srcset="..."
              class="img-15"
            />
          </div>
          <div class="column-12">
            <div class="div-41">
              <div class="div-42">Pudding & Dessert</div>
              <div class="div-43">
                Kenes persembahkan untuk si kecil yang selalu setia dan menjadi
                pelanggan setia sejak dini.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="div-44">
      <div class="div-45">TERSEDIA DI</div>
      <div class="div-46">
        <img
          loading="lazy"
          src="https://cdn.builder.io/api/v1/image/assets/TEMP/edf22d35fc803aa1a72b429e75b113c90b5922c394370fe27b8a5ed646b6a63c?"
          class="img-16"
        />
        <img
          loading="lazy"
          src="https://cdn.builder.io/api/v1/image/assets/TEMP/8de296be1f33de2b396129a6e1e54e7b1eefc4d59bfb19dd923c670885c5ce47?"
          class="img-17"
        />
        <img
          loading="lazy"
          src="https://cdn.builder.io/api/v1/image/assets/TEMP/e869b1b98c901c4527a1a6b19903d73acb5a9cae54de19543d07a3b17cebd52d?"
          class="img-18"
        />
        <img
          loading="lazy"
          src="https://cdn.builder.io/api/v1/image/assets/TEMP/93a789b6a338e518a21c4e01edeb2a73849c2e3948e13aeb0679cc31cdfeb8b7?"
          class="img-19"
        />
      </div>
    </div>
    <div class="div-47">
      <div class="div-48">OUTLET</div>
      <div class="div-49">
        Kami berada di jantung kota yogyakarta, anda dapat dengan mudahmenemukan
        kami, dengan berbagai fasilitas, parkir yang luas, aksesyang mudah dari
        jalan raya utama.
      </div>
      <div class="div-50">
        <img
          loading="lazy"
          src="https://cdn.builder.io/api/v1/image/assets/TEMP/dc4783cd64b1ca61f18005045058511155ee9a910fa72c8a26e356e887578ea8?"
          class="img-20"
        />
        <img
          loading="lazy"
          src="https://cdn.builder.io/api/v1/image/assets/TEMP/a5cb951140335ddddd930d86dc6d44e51b069351db7df81e4d36820aeaee73a5?"
          class="img-21"
        />
        <div class="div-51">OUTLET TERDEKAT</div>
      </div>
    </div>
    <div class="div-52">FASILITAS</div>
    <div class="div-53">
      Tempat dan suasana yang nyaman, luas, elegant, Full AC, FreeWifi,
    </div>
    <div class="div-54">
      Smoking Area, cocok untuk anda yang membutuhkan tempat rapat,
    </div>
    <div class="div-55">bersantai atau berwisata besama keluarga</div>
    <div class="div-56">
      <div class="div-57">
        <div class="column-13">
          <img
            loading="lazy"
            srcset="..."
            class="img-22"
          />
        </div>
        <div class="column-14">
          <img
            loading="lazy"
            srcset="..."
            class="img-23"
          />
        </div>
        <div class="column-15">
          <img
            loading="lazy"
            srcset="..."
            class="img-24"
          />
        </div>
      </div>
    </div>
    <div class="div-58">KARIR</div>
    <div class="div-59">
      Bergabunglah dengan kami, anda akan mendapatkan kesempatan
    </div>
    <div class="div-60">
      untuk belajar, tumbuh, dan menciptakan pengalaman yang luarbiasa
    </div>
    <div class="div-61">bersama tim kami yang ramah dan berdedikasi.</div>
    <div class="div-62">
      <img
        loading="lazy"
        src="https://cdn.builder.io/api/v1/image/assets/TEMP/286db62abaa1cd8bc0893cdbb3a89a619f86392749375677768eaaa6d03b0427?"
        class="img-25"
      />
      <img
        loading="lazy"
        src="https://cdn.builder.io/api/v1/image/assets/TEMP/d74986d7e5258558cd88121cc169a5010a6696b9fbddb977845c5eed108f21b1?"
        class="img-26"
      />
      <div class="div-63">LOWONGAN KERJA</div>
    </div>
    <div class="div-64">
      <div class="div-65">HUBUNGI KAMI</div>
      <img
        loading="lazy"
        src="https://cdn.builder.io/api/v1/image/assets/TEMP/a1e426c9c9bfb6670cf30b170b9481763a5f1b48d8d1a26c3b969cc4c7dcd34a?"
        class="img-27"
      />
      <div class="div-66">
        Jangan ragu untuk menghubungi kami untuk informasi lebih lanjut
      </div>
      <div class="div-67">atau reservasi. Terima kasih atas dukungan anda</div>
      <div class="div-68">Selamat makan!</div>
    </div>
    <div class="div-69">
      <div class="div-70">
        <img
          loading="lazy"
          src="https://cdn.builder.io/api/v1/image/assets/TEMP/cccfc6a242807bc9845011016afe626e2db3032b65583e86651e1789785bbbfa?"
          class="img-28"
        />
        <div class="div-71">
          Kami tidak menyajikan hidangan yang mengandungalkohol atau makanan yang
          di larang olehMajelis Ulama Indonesia
        </div>
        <img
          loading="lazy"
          src="https://cdn.builder.io/api/v1/image/assets/TEMP/7a424df3ae8aac98e252c547bb55008caf259b2c1323702e1d85bb8866fb0cf2?"
          class="img-29"
        />
      </div>
    </div>
  </div>
  {include file="base/kenesbaru.html"}
 